@page
@model RestaurantWebApp.Pages.FoodTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<br />
<h2>Food Type Details</h2>
<hr /><br />

<div class="form-border">
    <fieldset disabled>
        <input type="hidden" asp-for="FoodType.Id" />
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="FoodType.Name" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="FoodType.Name" class="form-control" readonly />
            </div>
        </div>
    </fieldset>

    <br />
    <div class="form-group">
        <a asp-page="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.FoodType.Id">Edit</a>
        <a asp-page="Index" class="btn btn-sm btn-success">Back to List</a>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
